<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'entry/login_register.css' %}">

</head>
<body>
    <form method="post" action="{% url 'entry:login' %}" class="login-form">

        {% csrf_token %}

        {{ form.as_p }}  <!-- Django renders the form fields -->
        <button type="submit">Login</button>
    </form>
    <p>Don't have an account? <a href="{% url 'entry:register' %}" class="register-link">Register here</a>.</p>
    <a href="{% url 'entry:guest_access' %}" class="guest-link">Continue as Guest</a>

    <div class="messages">
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li class="{% if message.tags %} {{ message.tags }}{% endif %}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</body>
</html>
