<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trip History</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'entry/trip_history.css' %}">
</head>
<body>
    <div class="container">
        <h1>Trip History</h1>

        {% if trip_data %}
        <table class="table">
            <thead>
                <tr>
                    <th>Starting Address</th>
                    <th>Finishing Address</th>
                    <th>Distance (km)</th>
                    <th>Duration (min)</th>
                    <th>Trip Price</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for trip_entry in trip_data %}
                <tr>
                    <td>{{ trip_entry.origin_address }}</td>
                    <td>{{ trip_entry.destination_address }}</td>
                    <td>{{ trip_entry.total_distance }}</td>
                    <td>{{ trip_entry.total_duration }}</td>

                    <td>{{ trip_entry.total_price }} {{ trip_entry.currency }}</td>
                    <td class="action-btns">
                        <a href="{% url 'refill:load_data' %}?vehicle_id=none&trip_id={{ trip_entry.trip_id }}" class="btn btn-action">
                            Use Addresses
                        </a>
                    </td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
        {% else %}
        <p>No trip history found.</p>
        {% endif %}
    </div>
</body>
</html>
